:host {
  width: max-content;
  display: block;
  margin: auto;
}

form input {
  display: block;
  margin: 8px 0;
}

.form-actions {
  display: flex;
  justify-content: space-around;
}

.form-actions > .btn {
  font-size: 0.9rem;
}
