* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Alef, Consolas, sans-serif;
  margin: 0;
}

input, button {
  font-family: inherit;
}

input {
  background-color: transparent;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 0.9rem;
  outline: 0;
}

input:disabled {
  background-color: #ddd8;
  cursor: no-drop;
}

.btn {
  color: #555;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  padding: 8px 12px;
  cursor: pointer;
  box-shadow: 0 2px 3px #3334;
  outline: 0;
  transition: all 0.4s;
}

.btn:active {
  box-shadow: 0 2px 3px inset #3333;
}
