.more {
  color: white;
  height: 24px;
  cursor: pointer;
  outline: 0;
  position: relative;
  border-radius: 4px;
  transition: all 0.3s;
}

.more:focus {
  background-color: #7778;
}

.user-options {
  --scale: 0;

  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px #3335;
  color: #333;
  list-style: none;
  padding: 8px 0;
  transform: scale(var(--scale));
  transform-origin: top right;
  transition: transform 0.18s;
}

.user-options.show {
  --scale: 1;
}

.user-options li {
  font-size: 0.95rem;
  padding: 4px 16px;
  transition: all 0.3s;
}

.user-options li:hover {
  background-color: #eee;
}

.user-modal::part(container) {
  width: 450px;
  margin: 8px;
}

.user-modal-header {
  color: #333;
  margin: 0 0 20px;
  border-bottom: 1px solid #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-modal-header h2 {
  margin: 0;
}

.user-modal-header button {
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.user-details {
  color: #333;
  line-height: 1.5;
  background-color: #3331;
  padding: 14px;
  border-radius: 4px;
}

.user-details > span {
  font-weight: bold;
}
