.container {
  display: flex;
  background-color: #333;
  padding: 16px 12px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  color: white;
  width: 110px;
}

.user-details-container {
  color: white;
  font-size: 1.1rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 6px;
}
