.container {
  display: flex;
  background-color: #333;
  padding: 16px 12px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  color: white;
  width: 110px;
}

.user-details-container {
  color: white;
  font-size: 1.1rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 6px;
}

.more {
  color: white;
  height: 24px;
  cursor: pointer;
  outline: 0;
  position: relative;
}

.user-options {
  --scale: 0;

  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px #3335;
  color: #333;
  list-style: none;
  padding: 8px 0;
  transform: scale(var(--scale));
  transform-origin: top right;
  transition: transform 0.18s;
}

.user-options.show {
  --scale: 1;
}

.user-options li {
  font-size: 0.95rem;
  padding: 4px 16px;
  transition: all 0.3s;
}

.user-options li:hover {
  background-color: #eee;
}
